.register {
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        .card-header {
            h3 {
                text-align: center;
                color: #fff;
            }

            .description {
                margin-top: 5px;
                padding: 3px;
                text-align: center;
                background-color: rgb(117, 117, 82);
                color: rgb(247, 165, 165);
            }
        }

        .card-body {
            .form-group {
                .form-control {
                    color: #fff;
                }

                span {
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .file-image {
                    display: flex;

                    .image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .file {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .form-control {
                            display: none;
                        }

                        label {
                            background-color: #0a0e1585;
                            padding: 8px;
                            border-radius: 5px;
                            margin-left: 10px;
                            color: #fff;
                            width: 120px;
                            cursor: pointer;
                            text-align: center;
                        }
                    }
                }

            }

            .forgot-password {
                text-align: right;
            }
        }
    }
}